/* Google fonts added here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Common Style and utilities */
body {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.container {
  display: flex;
  width: 1321px;
  margin: 0 auto;
}

/*---------------------------------- 
header banner area style starts here 
------------------------------------*/
.banner {
  background-color: #161616;
  border-radius: 30px;
  color: #ffffff;
  display: flex;
  width: 1321px;
  margin: 0 auto;
  margin-top: 50px;
  margin: 0 auto;
}
.banner {
  padding-top: 60px;
  padding-left: 100px;
}

.banner-info h1 {
  font-size: 70px;
  line-height: 80px;
  width: 531px;
  height: 240px;
}
.banner-info p {
  width: 506px;
  height: 78px;
  font-size: 1em;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}
.banner-btn button {
  background-color: #dd0000;
  color: #ffffff;
  width: 187px;
  font-weight: 400;
  font-size: 20px;
  padding: 16px 25px;
  border-radius: 5px;
  text-align: center;
}
.banner-btn .fa-angle-right {
  padding-left: 5px;
}
.banner-image img {
  width: 581px;
  height: 613px;
  margin-bottom: -7px;
  padding-left: 136px;
  padding-right: 80px;
}
/* ---------------------------------
main section starts here 
----------------------------------- */

/* left side menu-bar options style starts here */
.menu-bar {
  margin-top: 135px;
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
}
.menu-bar-buttons {
  width: 252px;
  height: 252px;
  padding: 30px;
}

.menu-bar-buttons a {
  text-decoration: none;
  font-weight: 500;
  color: #161616;
  background-color: #ffffff;
  padding: 17px 39px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.menu-bar-buttons .upcoming-watch {
  color: #ffffff;
  background-color: #dd0000;
}

/* ----------------------------------
main sections blogs style starts here
------------------------------------- */
.blogs {
  margin-top: 137px;
  margin-left: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.blog-button {
  width: 75px;
  height: 25px;
  padding: 5px 16px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.blog-title {
  width: 272px;
  height: 54px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 30px;
}
.blog-info {
  display: flex;
}
.blog-info img {
  margin-right: 10px;
}
.blog-info .time,
.chat {
  color: rgba(22, 22, 22, 0.7);
  margin-bottom: 2px;
}
.blog-info .time {
  margin-right: 30px;
}

/* -----------------------------------------------
Upcoming Match links style starts here
------------------------------------------------- */
.match-blogs {
  margin-top: 137px;
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 155px;
  grid-row-gap: 98px;
}
.matches {
  text-align: center;
  display: grid;
  grid-column-gap: 24px;
}
.match {
  display: flex;
  align-items: center;
}

.match .vs {
  font-weight: 700;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
}
.match-info {
  color: #4d4d4d;
}
.match-info p {
  margin-top: -3px;
}

/*------------------------------------
 footer style starts here
------------------------------------ */
footer {
  background-color: #161616;
  color: #ffffff;
  width: 100%;
  height: 440px;
  text-align: center;
  padding-top: 30px;
  margin-top: 110px;
}
.footer-title {
  font-weight: 600;
  font-size: 40px;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 50px;
}
.footer-details a {
  margin-right: 20px;
  text-decoration: none;
  color: #b9b9b9;
}
